@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
	margin: 0;
	font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #525252;
	color: #e7e7e7;
	margin: 0 auto;
	padding: 1em 2em;
	color: white;
	padding-inline-start: 0px;
	overflow-x: hidden;
}

.app {
	text-align: center;
}

h1,
h2,
h3 {
	margin: 0.4em 0;
	line-height: 1.2;
}

h4 {
	margin: 0.2em 0;
	line-height: 1.2;
	letter-spacing: 0em;
}

h1 {
	font-size: 2.2em;
	color: #1db0ff;
}

h2 {
	font-size: 1.5em;
	color: #c586c0;
}

h3 {
	font-size: 1.1em;
	margin: 2em 0 1em;
	font-weight: 100;
	color: #9cdcfe;
}

h4 {
	font-size: 0.9em;
	margin: 2em 0 0.5em;
	color: #caecb7;
}

p {
	margin: 1.5em 0;
	line-height: 1.4;
	letter-spacing: -0.05em;
	text-align: justify;
}

ul {
	margin: 5px;
	padding: 0;
}

.restart:hover {
	color: #1db0ff;
}
